@model UserTaskListViewModel
@inject UserManager<ApplicationUser> userManager;

@{
    ViewData["Title"] = "Index";
    var user = await userManager.GetUserAsync(Context.User);
}
@if(Model.Boards != null) { 

@foreach (var Board in Model.Boards)
{
    <p>@Board.Name</p>

    <div class="row justify-content-center m-3">
        <table class="table table-striped bg-light text-center">


            <thead class="collapsible">

                <tr>
                    <th>Todo</th>
                    <th>Done </th>
                    <th>Doing </th>
                </tr>


            </thead>
            <tbody align="center" >
                <tr>
                    <td>

                        <table class="content">

                            <tbody align="center">
                                @foreach (var task in Board.BoardTasks.Where(x => x.Status == ScrumTaskStatus.ToDo && x.ApplicationUser == user))
                                {
                                    <tr align="center">

                                        <td align="center">

                                            <div class="card-body text-center ">

                                                <div class="card mb-2 text-white bg-dark ">
                                                    <div class="card-header">
                                                        <strong>
                                                            @task.Title
                                                        </strong>
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="card-text">
                                                            @task.Description
                                                        </p>
                                                        <div class="card-body ">
                                                            <p class="card-text ">
                                                                <a asp-action="Details" asp-controller="tasks" asp-route-taskid="@task.Id" class="btn btn-primary btn-sm ">View details of task</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>

                    </td>
                    <td class="text-center">
                        <table align="center" class="content">

                            @foreach (var task in Board.BoardTasks.Where(x => x.Status == ScrumTaskStatus.Doing && x.ApplicationUser == user))
                            {

                                <tr class="text-center">

                                    <td class="text-center">
                                        <div class="card-body text-center ">

                                            <div class="card mb-2 text-white bg-dark text-center">
                                                <div class="card-header">
                                                    <strong>
                                                        @task.Title
                                                    </strong>
                                                </div>
                                                <div class="card-body text-center">
                                                    <p class="card-text">
                                                        @task.Description
                                                    </p>
                                                    <div class="card-body text-center">
                                                        <p class="card-text ">
                                                            <a asp-action="Details" asp-controller="tasks" asp-route-taskid="@task.Id" class="btn btn-primary btn-sm ">View details of task</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            }


                        </table>
                    </td>
                    <td class="text-center">
                        <table align="center" class="content">

                            @foreach (var task in Board.BoardTasks.Where(x => x.Status == ScrumTaskStatus.Done && x.ApplicationUser == user))
                            {
                                <tr class="text-center">

                                    <td class="text-center">
                                        <div class="card-body text-center ">

                                            <div class="card mb-2 text-white bg-dark text-center">
                                                <div class="card-header">
                                                    <strong>
                                                        @task.Title
                                                    </strong>
                                                </div>
                                                <div class="card-body text-center">
                                                    <p class="card-text">
                                                        @task.Description
                                                    </p>
                                                    <div class="card-body text-center">
                                                        <p class="card-text ">
                                                            <a asp-action="Details" asp-controller="tasks" asp-route-taskid="@task.Id" class="btn btn-primary btn-sm ">View details of task</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            }


                        </table>
                    </td>
                </tr>



            </tbody>


        </table>
    </div>
}


    <p> No Boards assigned to you </p>

}

@section Scripts {
    <script>

        $(document).ready(function(){
  $(".collapsible").click(function(){
    $(".content").toggle();
  });
});
            
    </script>
}
@*@section Styles {
        <link href="~/css/Toggler.css" rel="stylesheet" asp-append-version="true" />
    }*@