@model IEnumerable<Board>
@inject UserManager<ApplicationUser> userManager;
@{
    ViewBag.Title = "Boards List";
    var user = await userManager.GetUserAsync(Context.User);
}



<div class="row justify-content-center m-3">
    <table class="table table-striped bg-light text-center col-8">
        <thead>
            <tr>

                <th scope="col">Id</th>
                <th scope="col">Name</th>
                @if (User.IsInRole("Admin"))
                {
                    <th scope="col"># Users assigned</th>
                }
                @if (User.IsInRole("User"))
                {
                    <th scope="col"># Tasks assigned</th>
                }
                <th scope="col"> Actions </th>
            </tr>
        </thead>
        <tbody class="">
            @foreach (var board in Model)
            {
                @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                {
                    <tr>

                        <td>@board.Id</td>
                        <td>@board.Name</td>
                        @if (board.BoardUsers != null && board.BoardUsers.Where(x => x.IsDeleted == false).Count() != 0)
                        {
                            <td>@board.BoardUsers.Where(x => x.IsDeleted == false).Count() </td>
                        }
                        else
                        {
                            <td> No Users Assigned</td>
                        }
                        <td>

                            <a asp-action="Details" asp-controller="Boards" asp-route-id="@board.Id" class="btn btn-success"> View Details</a>
                            <a asp-action="Update" asp-controller="Boards" asp-route-id="@board.Id" class="btn btn-warning">Update</a>
                            <a asp-action="Delete" asp-controller="Boards" asp-route-id="@board.Id" class="btn btn-danger">Delete</a>

                        </td>
                    </tr>

                }
                @if (User.IsInRole("User"))
                {
                    <tr>

                        <td>@board.Id</td>
                        <td>@board.Name</td>
                        @if (board.BoardTasks != null && board.BoardTasks.Where(x => x.ApplicationUser == user ).Count() != 0)
                        {
                            <td>@board.BoardTasks.Where(x => x.ApplicationUser == user ).Count() </td>
                        }
                        else
                        {
                            <td> No Tasks Assigned</td>
                        }
                        <td>

                            <a asp-action="Details" asp-controller="Boards" asp-route-id="@board.Id" class="btn btn-success"> View Details</a>
                            

                        </td>
                    </tr>

                }

            }

        </tbody>

    </table>
</div>