@model IEnumerable<Company>
@{
    ViewBag.Title = "Company List";
}
<div class="card-deck mt-3">
    @foreach (var company in Model)
    {
        var photoPath = $"~/Images/{company.PhotoPath ?? "noimage.png"}";

        <div class="card m-2" style="width: 9rem;">
            <img src="@photoPath" asp-append-version="true" class="card-img-top" style="height:200px;width:auto;" alt="NoImage" />
            <div class="card-header">
                <h3>@company.Name</h3>
            </div>
            <div class="card-footer text-center">
                <a asp-action="Details" asp-controller="Companies" asp-route-id="@company.Id" class="btn btn-info">Details</a>
                <a asp-action="Update" asp-controller="Companies" asp-route-id="@company.Id" class="btn btn-warning">Update</a>
                <a asp-action="Delete" asp-controller="Companies" asp-route-id="@company.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>